* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  scroll-behavior: smooth;
  background-color: #F1F3CE;
}

#NavBarContainer {
  background-color: #002936;
}

#NavBarContainer #navbarNav {
  justify-content: right;
  margin: 1vh 1vw;
}

#NavBarContainer .LogoNavBar {
  width: 7vw;
  padding: 1vh 1vw;
}

#NavBarContainer a {
  color: #F1F3CE;
  margin: 0vh 1vw;
  font-weight: 500;
  font-size: 1.1em;
}

#NavBarContainer a:hover {
  background-color: rgba(255, 255, 255, 0.179);
}

.navbar-toggler-icon {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #002936;
}

footer .footerInfo {
  width: 100%;
  background-color: #002936;
  color: #F1F3CE;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 4vh;
}

footer .footerInfo .footerAcerca {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

footer .footerInfo .footerAcerca .ulAcerca {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5em;
  font-weight: bold;
  color: #F1F3CE;
  font-size: 1em;
}

footer .footerInfo .footerAcerca .ulAcerca li {
  color: #F1F3CE;
  text-align: center;
  list-style: none;
  font-weight: normal;
  font-size: 0.8em;
}

footer .footerInfo .footerAcerca .ulAcerca li a {
  text-decoration: none;
  color: #F1F3CE;
}

footer .footerInfo .footerSeguros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0vh auto;
}

footer .footerInfo .footerSeguros p {
  color: #F1F3CE;
  font-weight: bold;
  text-align: left;
  margin-left: -45vw;
  font-size: 1em;
}

footer .footerInfo .footerSeguros div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

footer .footerInfo .footerSeguros div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0vh 3vw;
  font-weight: bold;
  font-size: 1em;
}

footer .footerInfo .footerSeguros div ul li {
  color: #F1F3CE;
  font-weight: normal;
  font-size: 0.8em;
}

footer .footerInfo .footerSeguros div ul li a {
  text-decoration: none;
  color: #F1F3CE;
  text-align: left;
}

footer .footerRedes {
  width: 100%;
  background-color: #002936;
  color: #F1F3CE;
  border-top: 1px solid #F1F3CE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer .footerRedes p {
  color: #F1F3CE;
  text-align: left;
  padding: 1vw 1vh;
  font-size: 0.8em;
}

footer .footerRedes div {
  display: flex;
  flex-direction: row;
}

footer .footerRedes div a {
  text-decoration: none;
  color: #F1F3CE;
}

footer .footerRedes div a #redes {
  color: #F1F3CE;
  background-color: rgba(128, 128, 128, 0.755);
  border-radius: 50%;
  padding: 2vh 1vw;
  margin: 1vh 1vw;
  font-size: 0.8em;
}

@media only screen and (max-width: 480px) {
  .carrousel {
    height: 300px;
  }
}

.carrousel__img {
  height: 650px;
  width: 100%;
}

.carrousel__divP {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0%;
  background-color: #002936be;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .carrousel__divP {
    padding-top: 60px;
    font-size: 6px;
    display: block;
    text-align: center;
  }
}

.carrousel__p {
  position: relative;
  width: 70%;
  color: white;
  font-size: 4.5em;
  font-weight: bold;
  margin: 10% 0 0 15%;
}

.carrousel .btn {
  width: 13%;
  height: 8%;
  margin: 5% 0 0 15%;
  font-size: 1.2em;
  color: white;
  background-color: #f62a00;
  border: none;
}

@media only screen and (max-width: 480px) {
  .carrousel .btn {
    width: 200px;
    height: 30px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 15px;
  }
}

.divTelefono {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .divTelefono {
    font-size: 10px;
    height: 80px;
  }
}

.divTelefono__icon {
  margin: 2%;
  background-color: #f62a00;
  height: 80%;
  border-radius: 100%;
}

@media only screen and (max-width: 480px) {
  .divTelefono__icon {
    height: 50px;
  }
}

.divTelefono__icon__img {
  padding: 30%;
  height: 100%;
}

.divTelefono__h3 {
  font-size: 3em;
  font-weight: bold;
  color: #002936;
}

.nuestrosSeguros {
  background-color: #002936;
  text-align: center;
}

.nuestrosSeguros .btn {
  margin: 3%;
  border: #f62a00 solid;
}

.nuestrosSeguros .btn:hover {
  background-color: #f62a00;
  border: #f62a00 solid;
  color: #fff;
}

.nuestrosSeguros__titulo {
  padding-top: 20px;
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .nuestrosSeguros__titulo {
    font-size: 25px;
  }
}

.nuestrosSeguros__card {
  padding: 100px 20px 20px 20px;
  margin-top: 20px;
  transition: all ease-in-out 0.3s;
  background-size: cover;
  border-radius: 18px;
  border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 480px) {
  .nuestrosSeguros__card {
    padding: 0;
    margin: 30px;
  }
}

.nuestrosSeguros__card__body {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  border-radius: 18px;
  text-align: left;
}

.nuestrosSeguros__card__body__p {
  padding: 0%;
}

.nuestrosSeguros__card__body__h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.nuestrosSeguros__card__body .btn {
  color: white;
  background-color: #f62a00;
  border: none;
}

.nuestrosSeguros__card__body .btn:hover {
  color: white;
  background-color: #f62a00;
  border: none;
}

.nuestrosSeguros__card:hover {
  transform: translateY(-10px);
  border-color: #f62a00;
}

#ahorroInversion {
  background-image: url("../../imagenes/Seguros/segurosAhorro-330x330.png");
}

#vida {
  background-image: url("../../imagenes/Seguros/segurosVida-330x330.png");
}

#automotor {
  background-image: url("../../imagenes/Seguros/segurosAutomotor-330x330.png");
}

#bicicleta {
  background-image: url("../../imagenes/Seguros/segurosBicicleta-330x330.png");
}

#hogar {
  background-image: url("../../imagenes/Seguros/segurosHogar-330x330.png");
}

#pertenciasPersonales {
  background-image: url("../../imagenes/Seguros/segurosMochila-330x330.png");
}

.cpSeguros {
  background-color: #fff;
  height: 600px;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .cpSeguros {
    display: block;
    height: auto;
  }
}

.cpSeguros__divImg {
  width: 55%;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .cpSeguros__divImg {
    width: 100%;
  }
}

.cpSeguros__Img {
  height: 90%;
  width: auto;
}

@media only screen and (max-width: 480px) {
  .cpSeguros__Img {
    padding: 25px;
    margin-top: 20px;
    width: 400px;
    text-align: center;
  }
}

.cpSeguros__desc {
  width: 45%;
}

@media only screen and (max-width: 480px) {
  .cpSeguros__desc {
    width: 100%;
  }
}

.cpSeguros__desc__h3 {
  color: #f62a00;
  margin: 25% 0 0 10%;
  font-size: 1em;
}

@media only screen and (max-width: 480px) {
  .cpSeguros__desc__h3 {
    display: none;
  }
}

.cpSeguros__desc__h2 {
  color: #002936;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 10%;
  width: 80%;
}

@media only screen and (max-width: 480px) {
  .cpSeguros__desc {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

.cpSeguros__desc__p {
  color: #002936;
  font-size: 1.2em;
  margin: 5% 10%;
  width: 80%;
}

.cpSeguros__desc .flecha {
  width: 15%;
  height: 25px;
  color: red;
}

.cpSeguros__desc .btn {
  width: 200px;
  font-size: 1.2em;
  margin-left: 6%;
  color: red;
  font-weight: bold;
}

.QtcontainerCenter {
  display: flex;
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  .QtcontainerCenter {
    display: block;
    margin: 2px;
  }
}

.QtcontainerLeft {
  padding: 0;
}

.FqTitulo {
  font-size: 2.5em;
  color: #f1f3ce;
  font-weight: bold;
  text-align: left;
  padding-left: 9vw;
  padding-top: 7vh;
}

@media only screen and (max-width: 480px) {
  .FqTitulo {
    font-size: 1px;
  }
}

.QtContainerIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}

@media only screen and (max-width: 480px) {
  .QtContainerIndex {
    margin-top: 10px;
    justify-content: center;
  }
}

.QtContainerIndex #QtIcon1 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 2vw;
}

@media only screen and (max-width: 480px) {
  .QtContainerIndex #QtIcon1 {
    display: none;
  }
}

.QtContainerIndex #QtIcon2 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 1vw;
}

@media only screen and (max-width: 480px) {
  .QtContainerIndex #QtIcon2 {
    display: none;
  }
}

.QtContainerIndex #QtIcon3 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 1.5vw;
}

@media only screen and (max-width: 480px) {
  .QtContainerIndex #QtIcon3 {
    display: none;
  }
}

.QtSubContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .QtSubContainer {
    align-items: center;
  }
}

.QtSubContainer .Qt {
  font-size: 1.2em;
  font-weight: 600;
  color: #f1f3ce;
  text-align: left;
  margin-bottom: 0vh;
}

@media only screen and (max-width: 480px) {
  .QtSubContainer .Qt {
    font-size: 1em;
  }
}

.QtSubContainer .Qt .fas fa-arrow-down {
  color: #f1f3ce;
  padding: 1vh 1vw;
}

.QtSubContainer .QtRta {
  font-size: 1em;
  color: #f1f3ce;
  text-align: left;
  width: 70%;
}

@media only screen and (max-width: 480px) {
  .QtSubContainer .QtRta {
    width: 100%;
    text-align: center;
  }
}

.nosotros1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #F1F3CE;
  justify-content: center;
  align-items: center;
  padding: 5% 1vw;
}

@media only screen and (max-width: 480px) {
  .nosotros1 {
    flex-wrap: wrap;
  }
}

.nosotros1 .nosotrosCesar img {
  width: 80%;
  margin: 0vh 30%;
}

@media only screen and (max-width: 800px) {
  .nosotros1 .nosotrosCesar img {
    margin: 0vh 10%;
  }
}

.nosotros1 .contenedorTextosNosotros {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 50%;
  padding: 1vh 4vw;
}

@media only screen and (max-width: 800px) {
  .nosotros1 .contenedorTextosNosotros {
    width: 100%;
  }
}

.nosotros1 .contenedorTextosNosotros .CPSEGUROS {
  font-size: 0.9em;
  color: #F62A00;
  text-align: left;
  font-weight: bold;
  padding: 1vh 1vw;
}

.nosotros1 .contenedorTextosNosotros .titulosNosotros {
  padding: 1vh 1vw;
}

.nosotros1 .contenedorTextosNosotros .titulosNosotros .pNos1 {
  font-size: 1.5em;
  color: #002936;
  font-weight: bold;
  border-bottom: 1px solid #002936;
  text-align: left;
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .nosotros1 .contenedorTextosNosotros .titulosNosotros .pNos1 {
    width: 50%;
  }
}

.nosotros1 .contenedorTextosNosotros .titulosNosotros .pNos2 {
  font-size: 1em;
  color: #002936;
  text-align: left;
  font-weight: bold;
  color: #002936;
}

.nosotros1 .contenedorTextosNosotros .descripcionNosotros {
  color: #002936;
  font-size: 1em;
  text-align: left;
  margin: 1vh 1vw;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .nosotros1 .contenedorTextosNosotros .descripcionNosotros {
    width: 100%;
  }
}

.nosotros2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nosotros2 .imagenTextoBlog {
  width: 100%;
  position: relative;
}

.nosotros2 .imagenTextoBlog img {
  width: 100%;
}

.nosotros2 .imagenTextoBlog div {
  background-color: #F1F3CE;
  padding: 5vh 2vw;
  width: 30%;
  position: absolute;
  top: 67%;
  right: 12%;
}

@media only screen and (min-width: 745px) and (max-width: 1080px) {
  .nosotros2 .imagenTextoBlog div {
    padding: 2vh 2vw;
    width: 59%;
    position: absolute;
    top: 67%;
    right: 0%;
  }
}

@media only screen and (max-width: 745px) {
  .nosotros2 .imagenTextoBlog div {
    width: 100%;
    position: relative;
    padding: 3vh 2vw;
    right: 0%;
  }
}

.nosotros2 .imagenTextoBlog div .misionVision {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  color: #002936;
}

.nosotros2 .imagenTextoBlog div .misionVision2 {
  font-size: 1em;
  text-align: left;
  color: #002936;
}

.nosotros2 .imagenTextoBlog div .linkBlog {
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: #F62A00;
  text-decoration: none;
}

.nosotros2 .imagenTextoBlog div .linkBlog:hover {
  color: #1E656D;
}

.nosotros2 .valores {
  background-color: #F1F3CE;
  display: flex;
  flex-direction: column;
  padding: 15vh 4vw;
}

@media only screen and (max-width: 745px) {
  .nosotros2 .valores {
    padding: 1vh 1vw;
  }
}

.nosotros2 .valores .nuestrosValores {
  font-size: 1.5em;
  font-weight: bold;
  color: #002936;
  text-align: left;
}

.nosotros2 .valores .valoresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 745px) {
  .nosotros2 .valores .valoresContainer {
    flex-wrap: wrap;
  }
}

.nosotros2 .valores .valoresContainer .valorBox {
  width: 15vw;
  background-color: white;
  box-shadow: 5px 5px 15px -6px #000000;
  margin: 1vh 1vw;
}

@media only screen and (max-width: 745px) {
  .nosotros2 .valores .valoresContainer .valorBox {
    width: 40%;
  }
}

.nosotros2 .valores .valoresContainer .valorBox .valor {
  text-align: left;
  font-weight: bold;
  color: #002936;
  font-size: 1em;
  padding: 2vh 1vw;
}

.nosotros2 .valores .valoresContainer .valorBox i {
  color: #F62A00;
  font-size: 1.3em;
  padding: 2vh 1vw;
}

.nosotros3 {
  background-color: #1E656D;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nosotros3 .tituloNosotros3 {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin: 4vh 5%;
}

.nosotros3 .reviewsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: left;
  margin: 1vh auto;
}

.nosotros3 .reviewsContainer .stars {
  display: flex;
  flex-direction: row;
}

.nosotros3 .reviewsContainer .stars i {
  color: rgba(255, 255, 0, 0.761);
  font-size: 1em;
  padding: 2vh 1vw;
}

.nosotros3 .reviewsContainer .reviewsName {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.nosotros3 .reviewsContainer .reviewsName i {
  color: white;
  font-size: 1.1em;
  padding: 0vh 1vw;
}

.nosotros3 .reviewsContainer .reviewsName p {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.nosotros3 .reviewsContainer .review {
  color: white;
  font-size: 1em;
  margin-left: 1vw;
}

#accidentes {
  background-image: url("../../imagenes/Seguros/segurosAccidentes-330x330.png");
}

#contratotrabajo {
  background-image: url("../../imagenes/Seguros/seguroTrabajo-330x330.png");
}

#conveniomercantil {
  background-image: url("../../imagenes/Seguros/segurosConvenioMercantil-330x330.png");
}

#vidatrabajadores {
  background-image: url("../../imagenes/Seguros/segurosTrabajadores-330x330.png");
}

#corporativos {
  background-image: url("../../imagenes/Seguros/segurosCorporativos-330x330.png");
}

#FqContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e656d;
  padding-bottom: 8vh;
}

#FqContainer .FqTitulo {
  font-size: 2.5em;
  color: #f1f3ce;
  font-weight: bold;
  text-align: left;
  padding-left: 9vw;
  padding-top: 7vh;
}

#FqContainer .QtContainer {
  display: flex;
  flex-direction: row;
  padding: 1vh 9vw;
  align-items: center;
  margin-top: 2vh;
}

#FqContainer .QtContainer #QtIcon1 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 2vw;
}

#FqContainer .QtContainer #QtIcon2 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 1vw;
}

#FqContainer .QtContainer #QtIcon3 {
  color: #ef775f;
  font-size: 2em;
  background-color: #f1f3ce;
  border-radius: 50%;
  margin: 1vh 2vw;
  padding: 3vh 1.5vw;
}

#FqContainer .QtSubContainer {
  display: flex;
  flex-direction: column;
}

#FqContainer .QtSubContainer .Qt {
  font-size: 1.2em;
  font-weight: 600;
  color: #f1f3ce;
  text-align: left;
  margin-bottom: 0vh;
}

#FqContainer .QtSubContainer .Qt .fas fa-arrow-down {
  color: #f1f3ce;
  padding: 1vh 1vw;
}

#FqContainer .QtSubContainer .QtRta {
  font-size: 1em;
  color: #f1f3ce;
  text-align: left;
  width: 70%;
}
/*# sourceMappingURL=style.css.map */