//Bicicletas
#bicicletaInd{
    width: 100%;
    background-image: url('https://i.ibb.co/0V998Yn/bicicleta-LG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}