//Hogar
#hogarInd{
    width: 100%;
    background-image: url('https://i.ibb.co/DzfzNc5/casaLG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}