//Contrato de trabajo
#trabajoInd{
    width: 100%;
    background-image: url('https://i.ibb.co/gvg73Xb/trabajo-LG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}