//Corporativos
#corporativoInd{
    width: 100%;
    background-image: url('https://i.ibb.co/nww12qB/corporativos-LG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}