//Trabajadores
#trabajadoresInd {
    width: 100%;
    background-image: url('https://i.ibb.co/NN397Ck/trabajador-LG.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}