//Footer
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #002936;
    .footerInfo{
        width: 100%;
        background-color: #002936;
        color: #F1F3CE;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        // border-top: 1px solid #F1F3CE;
        padding-top: 4vh;
        .footerAcerca{
            margin: 1vh 1vw;
            padding: 1vh 1vw;
            .ulAcerca{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                line-height: 1.5em;
                font-weight: bold;
                color: #F1F3CE;
                font-size: 1em;
                li{
                    color:#F1F3CE;
                    text-align: center;
                    list-style: none;
                    font-weight: normal;
                    font-size: 0.8em;
                    a{
                        text-decoration: none;
                        color: #F1F3CE;
                    }
                }
            }
        }
        .footerSeguros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0vh auto;
            p{
                color: #F1F3CE;
                font-weight: bold;
                text-align: left;
                margin-left: -45vw;
                font-size: 1em;
            }
            div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: center;
                ul{
                    display: flex;
                    flex-direction:column;
                    justify-content: center;
                    padding: 0vh 3vw;
                    font-weight: bold;
                    font-size: 1em;
                    li{
                        color:#F1F3CE;
                        font-weight: normal;
                        font-size: 0.8em;
                        a{
                            text-decoration: none;
                            color: #F1F3CE;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    .footerRedes{
        width: 100%;
        background-color: #002936;
        color: #F1F3CE;
        border-top: 1px solid #F1F3CE;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        p{
            color: #F1F3CE;
            text-align: left;
            padding: 1vw 1vh;
            font-size: 0.8em;
        }
        div{
            display: flex;
            flex-direction: row;
            a{
                text-decoration: none;
                color: #F1F3CE;
                #redes{
                    color: #F1F3CE;
                    background-color: rgba(128, 128, 128, 0.755);
                    border-radius: 50%;
                    padding: 2vh 1vw;
                    margin: 1vh 1vw;
                    font-size: 0.8em;
                    }
            }
        }
    }
}