//NavBar
@import "../utilities/colors";

#NavBarContainer{
    background-color: #002936;
    #navbarNav{
        justify-content: right;
        margin: 1vh 1vw;
    }
    .LogoNavBar{
        width: 7vw;
        padding: 1vh 1vw;
    }
    a{
        color: #F1F3CE;
        margin: 0vh 1vw;
        font-weight: 500;
        font-size: 1.1em;
    }
    
}

