//Preguntas Frecuentes
#FqContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e656d;
  padding-bottom: 8vh;
  .FqTitulo {
    font-size: 2.5em;
    color: #f1f3ce;
    font-weight: bold;
    text-align: left;
    padding-left: 9vw;
    padding-top: 7vh;
    @media only screen and(max-width:500px) {
      text-align: center;
    }
  }
  .QtContainer {
    display: flex;
    flex-direction: row;
    padding: 1vh 9vw;
    align-items: center;
    margin-top: 2vh;
    @media only screen and(max-width:800px) {
      flex-direction: column;
    }
    #QtIcon1 {
      color: #ef775f;
      font-size: 2em;
      background-color: #f1f3ce;
      border-radius: 50%;
      margin: 1vh 2vw;
      padding: 3vh 2vw;
      @media only screen and(max-width:500px) {
        background-color: transparent;
      }
    }
    #QtIcon2 {
      color: #ef775f;
      font-size: 2em;
      background-color: #f1f3ce;
      border-radius: 50%;
      margin: 1vh 2vw;
      padding: 3vh 1vw;
      @media only screen and(max-width:500px) {
        background-color: transparent;
      }
    }
    #QtIcon3 {
      color: #ef775f;
      font-size: 2em;
      background-color: #f1f3ce;
      border-radius: 50%;
      margin: 1vh 2vw;
      padding: 3vh 1.5vw;
      @media only screen and(max-width:500px) {
        background-color: transparent;
      }
    }
  }
  .QtSubContainer {
    display: flex;
    flex-direction: column;
    .Qt {
      font-size: 1.2em;
      font-weight: 600;
      color: #f1f3ce;
      text-align: left;
      margin-bottom: 0vh;
      @media only screen and(max-width:800px) {
        text-align: center;
      }
      .fas fa-arrow-down {
        color: #f1f3ce;
        padding: 1vh 1vw;
      }
    }
    .QtRta {
      font-size: 1em;
      color: #f1f3ce;
      text-align: left;
      width: 70%;
      @media only screen and(max-width:800px) {
        text-align: center;
        width: 100%;
      }
    }
  }
}
