//Index
@import "../utilities/colors";

// Carrousel

.carrousel {
  @media only screen and (max-width: 480px) {
    height: 300px;
  }
  &__img {
    height: 650px;
    width: 100%;
  }
  &__divP {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    background-color: #002936be;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 480px) {
      padding-top: 60px;
      font-size: 6px;
      display: block;
      text-align: center;
    }
  }

  &__p {
    position: relative;
    width: 70%;
    color: white;
    font-size: 4.5em;
    font-weight: bold;
    margin: 10% 0 0 15%;
    animation-duration: 1s;
    animation-name: slidein1;
    @keyframes slidein1 {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
            }
        }
  }

  .btn {
    width: 13%;
    height: 45%;
    margin: 5% 0 0 15%;
    font-size: 1.2em;
    color: white;
    background-color: #f62a00;
    border: none;
    @media only screen and (max-width: 480px) {
      width: 200px;
      height: 30px;
      margin: 0;
      margin-top: 20px;
      padding: 0;
      font-size: 15px;
    }
  }
}

// ---- Seccion Telefono ----
.divTelefono {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 480px) {
    font-size: 10px;
    height: 80px;
  }

  &__icon {
    margin: 2%;
    background-color: #f62a00;
    height: 80%;
    border-radius: 100%;
    @media only screen and (max-width: 480px) {
      height: 50px;
    }
    &__img {
      padding: 30%;
      height: 100%;
    }
  }
  &__h3 {
    font-size: 3em;
    font-weight: bold;
    color: #002936;
  }
}

// ---- Seccion Nuestros Seguros ----
.nuestrosSeguros {
  background-color: #002936;
  text-align: center;

  .btn {
    margin: 3%;
    border: #f62a00 solid;
  }

  .btn:hover {
    background-color: #f62a00;
    border: #f62a00 solid;
    color: #fff;
  }
  &__titulo {
    padding-top: 20px;
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    @media only screen and (max-width: 480px) {
      font-size: 25px;
    }
  }
  &__card {
    padding: 100px 20px 20px 20px;
    margin-top: 20px;
    transition: all ease-in-out 0.3s;
    background-size: cover;
    border-radius: 18px;
    border-bottom: 3px solid #fff;
    @media only screen and (max-width: 480px) {
      padding: 0;
      margin: 30px;
    }

    &__body {
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.514);
      border-radius: 18px;
      text-align: left;

      &__p {
        padding: 0%;
      }
      &__h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 24px;
      }

      .btn {
        color: white;
        background-color: #f62a00;
        border: none;
      }

      .btn:hover {
        color: white;
        background-color: #f62a00;
        border: none;
      }
    }
  }
}

.nuestrosSeguros__card:hover {
  transform: translateY(-10px);
  border-color: #f62a00;
}

#ahorroInversion {
  background-image: url("https://i.ibb.co/Pwz6pL8/seguros-Ahorro-330x330.png");
}

#vida {
  background-image: url("https://i.ibb.co/L0YZZ3k/seguros-Vida-330x330.png");
}

#automotor {
  background-image: url("https://i.ibb.co/qjf5FgH/seguros-Automotor-330x330.png");
}

#bicicleta {
  background-image: url("https://i.ibb.co/HgGGhYb/seguros-Bicicleta-330x330.png");
}

#hogar {
  background-image: url("https://i.ibb.co/HFY2DHw/seguros-Hogar-330x330.png");
}


// ---- Seccion CPSeguros ----
.cpSeguros {
  background-color: #fff;
  height: 600px;
  display: flex;

  @media only screen and (max-width: 480px) {
    display: block;
    height: auto;
  }
  &__divImg {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &__Img {
    height: 90%;
    width: auto;
    @media only screen and (max-width: 480px) {
      padding: 25px;
      margin-top: 20px;
      width: 400px;
      text-align: center;
    }
  }
  &__desc {
    width: 45%;
    @media only screen and (max-width: 480px) {
      width: 100%;
    }
    &__h3 {
      color: #f62a00;
      margin: 25% 0 0 10%;
      font-size: 1em;
      @media only screen and (max-width: 480px) {
        display: none;
      }
    }
    &__h2 {
      color: #002936;
      font-size: 2.5em;
      font-weight: bold;
      margin-left: 10%;
      width: 80%;
    }
    @media only screen and (max-width: 480px) {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    &__p {
      color: #002936;
      font-size: 1.2em;
      margin: 5% 10%;
      width: 80%;
    }
    .flecha {
      width: 15%;
      height: 25px;
      color: red;
    }
    .btn {
      width: 200px;
      font-size: 1.2em;
      margin-left: 6%;
      color: red;
      font-weight: bold;
    }
  }
}

// ---- Seccion Preguntas Frecuentes ----

.QtcontainerCenter {
  display: flex;
  margin-left: 30px;
  justify-content: space-around;

  @media only screen and (max-width: 480px) {
    display: block;
    margin: 2px;
  }
}

.QtcontainerLeft {
  padding: 0;
}

.FqTitulo {
  font-size: 2.5em;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 9vw;
  padding-top: 7vh;
  @media only screen and (max-width: 480px) {
    font-size: 1px;
    text-align: center;
  }
}
.QtContainerIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
  @media only screen and (max-width: 480px) {
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
  }
  #QtIcon1 {
    color: #ef775f;
    font-size: 2em;
    background-color: white;
    border-radius: 50%;
    margin: 1vh 2vw;
    padding: 3vh 2vw;
    @media only screen and (max-width: 480px) {
      background-color: transparent;
    }
  }
  #QtIcon2 {
    color: #ef775f;
    font-size: 2em;
    background-color: white;
    border-radius: 50%;
    margin: 1vh 2vw;
    padding: 3vh 1vw;
    @media only screen and (max-width: 480px) {
      background-color: transparent;
    }
  }
  #QtIcon3 {
    color: #ef775f;
    font-size: 2em;
    background-color: white;
    border-radius: 50%;
    margin: 1vh 2vw;
    padding: 3vh 1.5vw;
    @media only screen and (max-width: 480px) {
      background-color: transparent;
    }
  }
}
.QtSubContainer {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 480px) {
    align-items: center;
  }
  .Qt {
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 0vh;
    @media only screen and (max-width: 480px) {
      font-size: 1em;
    }
    .fas fa-arrow-down {
      color: white;
      padding: 1vh 1vw;
    }
  }
  .QtRta {
    font-size: 1em;
    color: white;
    text-align: left;
    width: 70%;
    @media only screen and (max-width: 480px) {
      width: 100%;
      text-align: center;
    }
  }
}

.exp{
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 6px;
  padding: 1vh 1vw;
  text-decoration: none;
  margin: 3%;
  border: #f62a00 solid;
  &:hover{
    animation-duration: 0.3s;
    animation-name: slidein1;
    @keyframes slidein1 {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
            }
        }
    background-color: #f62a00;
    color: white;
  }
  
}