//Pagina seguros
#accidentes {
    background-image: url("https://i.ibb.co/0VjPN1Z/seguros-Accidentes-330x330.png");
}

#contratotrabajo {
    background-image: url("https://i.ibb.co/5rGLhzm/seguro-Trabajo-330x330.png");
}

#conveniomercantil {
    background-image: url("https://i.ibb.co/2Kv5Dcq/seguros-Convenio-Mercantil-330x330.png");
}

#vidatrabajadores {
    background-image: url("https://i.ibb.co/ynzkg37/seguros-Trabajadores-330x330.png");
}

#corporativos {
    background-image: url("https://i.ibb.co/PYthvMs/seguros-Corporativos-330x330.png");
}

.segurosMain{
    padding-top:7vh;
}

//Botones
@import '../partials/submitbtns';