//Pagina seguros
#accidentes {
    background-image: url("../../imagenes/Seguros/segurosAccidentes-330x330.png");
}

#contratotrabajo {
    background-image: url("../../imagenes/Seguros/seguroTrabajo-330x330.png");
}

#conveniomercantil {
    background-image: url("../../imagenes/Seguros/segurosConvenioMercantil-330x330.png");
}

#vidatrabajadores {
    background-image: url("../../imagenes/Seguros/segurosTrabajadores-330x330.png");
}

#corporativos {
    background-image: url("../../imagenes/Seguros/segurosCorporativos-330x330.png");
}