//Body
body {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
    background-color:#F1F3CE;
    a{
      text-decoration: none;
      color: white;
    }
  }